.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 30px;
    border-bottom: dashed 1px #333;
}

.header h3 {
    /* flex: 1; */
    font-size: 40px;
    letter-spacing: 4px;
    text-shadow: 6px 6px rgba(0, 0, 0, 0.1);
}

.header ul {
    display: flex;
    list-style: none;
    gap: 30px;
}

.header ul li {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

.header ul li:hover {
    color: gray;
    transform: translatey(2px);
    transition: 300ms ease;
}

.header a {
    text-decoration: none;
    color: #333;
}